{% extends 'layout.twig' %}

{% block title %}Add product{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <product-add-form />
        </div>
    </div>
{% endblock %}
