{% extends 'layout.twig' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 mx-auto">
            . . .
        </div>
    </div>
{% endblock %}