{% extends 'layout.twig' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <product-edit-form id="{{ product.id }}" name="{{ product.name }}" price="{{ product.price }}" description="{{ product.description }}" />
        </div>
    </div>
{% endblock %}
