{% extends 'layout.twig' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="pb-4">Products list</h3>
        </div>
        <products-list />
    </div>
{% endblock %}
