{% extends 'layout.twig' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="pb-4">Product list</h3>
        </div>
        <div class="col-lg-3 pb-2">
            <div class="card">
                <img src="https://robohash.org/4ws.png" class="card-img-top" alt="4ws">
                <div class="card-body">
                    <h5 class="card-title">Product #</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-success">Go to</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pb-2">
            <div class="card">
                <img src="https://robohash.org/4ws.png" class="card-img-top" alt="4ws">
                <div class="card-body">
                    <h5 class="card-title">Product #</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-success">Go to</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pb-2">
            <div class="card">
                <img src="https://robohash.org/4ws.png" class="card-img-top" alt="4ws">
                <div class="card-body">
                    <h5 class="card-title">Product #</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-success">Go to</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pb-2">
            <div class="card">
                <img src="https://robohash.org/4ws.png" class="card-img-top" alt="4ws">
                <div class="card-body">
                    <h5 class="card-title">Product #</h5>
                    <p class="card-text">Description</p>
                    <a href="" class="btn btn-success">Go to</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}